*{margin:0;padding:0;box-sizing:border-box;}

body{
    background:#0b0b0b;
    color:white;
    font-family:Arial, sans-serif;
    padding-bottom:40px;
}

.logo-container{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:10px;
}

.logo-madre{
    width:240px;
    filter:brightness(1.35) drop-shadow(0 0 8px rgba(255,215,0,.35));
}

.card{
    background:#151515;
    margin:15px;
    padding:18px;
    border-radius:18px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-sesion{
    width:120px;
    filter:brightness(1.2);
}

.btn-group{
    margin-top:12px;
    display:flex;
    gap:10px;
}

.btn{
    background:#3a3a3a;
    padding:10px 18px;
    border-radius:10px;
    color:white;
    text-decoration:none;
}

.maps-link{
    color:#f05555;
    text-decoration:none;
    font-size:15px;
}

.container-galeria{
    padding:20px;
}

.galeria-title{
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}

.galeria-grid{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.columna{
    width:48%;
}

.columna h3{
    margin-bottom:10px;
    font-size:18px;
}

.columna ul{
    list-style:none;
}

.columna li{
    margin:6px 0;
}

.columna a{
    color:white;
    text-decoration:none;
    font-size:16px;
}

.container-fecha{
    padding:25px;
    text-align:center;
}
