.galeria-buttons .btn {
    background:#222;
    padding:10px 20px;
    margin:8px;
    border-radius:14px;
    color:white;
    text-decoration:none;
    display:inline-block;
}

.galeria-container .ig {
    opacity:.8;
    margin:6px 0 18px 0;
}

.msg {
    opacity:.6;
    margin-top:30px;
}
