<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bachata Barcelona</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <main class="home">

    <!-- LOGO PRINCIPAL -->
    <img src="img/logo-madre.png" alt="Bachata Barcelona" class="logo-principal">

    <!-- ENLACES HOME -->
    <div class="home-links">

      <a href="#" class="home-link">
        <img src="img/instagram.png" alt="Instagram">
      </a>

      <a href="#" class="home-link">
        <img src="img/maps.png" alt="Maps">
      </a>

    </div>

  </main>

</body>
</html>
