body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  background: #000;
  color: #fff;
  padding: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
}

strong {
  font-size: 18px;
}

hr {
  margin: 30px 0;
}

a {
  display: block;
  margin: 5px 0;
}
