*{margin:0;padding:0;box-sizing:border-box;}

body{
  background:#0b0b0b;
  color:white;
  font-family:Arial, sans-serif;
}

.logo-container{
  display:flex;
  justify-content:center;
  margin:15px 0;
}

.logo-madre{
  width:210px;
  filter:drop-shadow(0 0 8px rgba(255,215,80,.6));
}

.card{
  background:#151515;
  margin:12px;
  padding:16px;
  border-radius:16px;
}

.card-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo-sesion{
  width:100px;
  filter:brightness(1.15);
}

.maps-link{
  color:#ff7575;
  font-size:14px;
  text-decoration:none;
}

.extra-mini a{
  color:#d7d7d7;
  font-size:13px;
  text-decoration:none;
}

.share-btn{
  margin-top:6px;
  background:#333;
  color:white;
  font-size:12px;
  border:none;
  padding:5px 8px;
  border-radius:8px;
}

.btn-group{
  margin-top:10px;
  display:flex;
  gap:8px;
}

.btn{
  background:#2f2f2f;
  padding:9px;
  border-radius:10px;
  text-decoration:none;
  color:white;
  font-size:15px;
}

.container-galeria{
  padding:18px;
}

.galeria-title{
  text-align:center;
  margin-bottom:15px;
  font-size:21px;
}

.galeria-grid{
  display:flex;
  justify-content:space-between;
  gap:20px;
}

.columna{
  width:48%;
}

.columna h3{
  margin-bottom:8px;
  font-size:17px;
}

.columna li{
  margin:6px 0;
}

.columna a{
  color:white;
  font-size:16px;
  text-decoration:none;
}

.container-fecha{
  padding:22px;
  text-align:center;
}
