* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background:#0b0b0b;
  color:white;
  font-family:Arial, sans-serif;
  padding:20px;
}

.header {
  text-align:center;
  margin-bottom:20px;
}

.logo-main {
  width:260px;
}

.evento {
  background:#141414;
  padding:15px;
  border-radius:12px;
  margin-bottom:20px;
}

.evento-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo-side {
  width:120px;
}

.venue {
  color:#d1d1d1;
  margin:8px 0;
}

.maps-btn {
  display:inline-block;
  margin-bottom:12px;
  color:#ff6969;
  text-decoration:none;
}

.botonera {
  display:flex;
  gap:10px;
}

.btn {
  flex:1;
  text-align:center;
  padding:10px;
  background:#2d2d2d;
  border-radius:10px;
  text-decoration:none;
  color:white;
}
